.previews-page-container10 {
  width: 100%;
  display: grid;
  min-height: 200vh;
  align-items: center;
  border-color: #000000;
  border-style: groove;
  border-width: 10px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgb(49, 25, 7) 100.00%);
}
 
.previews-page-text1 {
  top: 211px;
  left: 536px;
  position: absolute;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 1;
  grid-column-start: 0;
}
 
.previews-page-text2 {
  top: 370px;
  left: 554px;
  position: absolute;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 1;
  grid-column-start: 0;
}
 
.previews-page-text3 {
  top: 530px;
  left: 546px;
  position: absolute;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 1;
  grid-column-start: 0;
}
 
.previews-page-text4 {
  top: 687px;
  left: 469px;
  position: absolute;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 1;
  grid-column-start: 0;
}
 
.previews-page-navlink {
  top: 27px;
  left: 48px;
  color: rgb(34, 9, 6);
  position: absolute;
  font-style: normal;
  font-weight: 500;
  border-width: 0px;
  grid-row-end: 2;
  animation-name: fadeInLeft;
  grid-row-start: 1;
  animation-delay: 0s;
  grid-column-end: 1;
  text-decoration: none;
  background-color: rgb(212, 9, 6);
  grid-column-start: 0;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.previews-page-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 1;
  justify-content: center;
  grid-column-start: 0;
}
 
.previews-page-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=1500');
}
 
.previews-page-container12 {
  top: 239px;
  left: 589px;
  position: absolute;
}
 
.previews-page-container13 {
  display: contents;
}
 
.previews-page-container14 {
  top: 399px;
  left: 590px;
  position: absolute;
}
 
.previews-page-container15 {
  display: contents;
}
 
.previews-page-container16 {
  top: 559px;
  left: 589px;
  position: absolute;
}
 
.previews-page-container17 {
  display: contents;
}
 
.previews-page-container18 {
  top: 717px;
  left: 589px;
  position: absolute;
}
 
.previews-page-container19 {
  display: contents;
}
 
.previews-page-text5 {
  top: 651px;
  left: 501px;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.previews-page-slider-slide2 {
  display: flex;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDMzfHxkYXJrJTIwYWJzdHJhY3QlMjBiYWNrZ3JvdW5kfGVufDB8fHx8MTc0NTM2ODUzNXww&ixlib=rb-4.0.3&w=1500");
}
 
.previews-page-text6 {
  top: 29px;
  left: 373px;
  position: absolute;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 20px;
  text-decoration: underline;
}
 
.previews-page-text7 {
  top: 175px;
  left: 515px;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.previews-page-text8 {
  top: 334px;
  left: 547px;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.previews-page-text9 {
  top: 494px;
  left: 546px;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
